.avatar {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    margin-right: 15px;
    height: 96px;
    width: 96px;
    background-color: white;
    border: 0px;
}

.avatar_caption {
    display: inline;
    width: 50%;
}

.project-name {
    display: inline-block;
}
